    <header>
        <div class="LogoImageFields">
            <p>U</p><p>niversite</p>
            <!-- <div class="Logo"><img src="/static/Images/SiteImage/IMG_4491.JPG" alt=""></div> -->
        </div>
        <div class="MainNavBar">
            <ul class="NavBar2">
                <a href='{% url "HomePages" %}'><i class="fa fa-home"></i> Menu</a>
                <a href=''><i class="fa fa-mortar-board"></i> Eleves</a>
                <a href=''><i class="fa fa-book"></i> Administratif</a>
                <a href=''><i class="fa fa-cog"></i> Parametre</a>
            </ul>
        </div>
    </header>